<?xml version="1.0"?>
<config>
    <modules>
        <Bt_InstallBugfix>
            <version>0.1.1</version>
        </Bt_InstallBugfix>
    </modules>
    <global>
        <models>
            <installbugfix>
                <class>Bt_InstallBugfix_Model</class>
            </installbugfix>
            <install>
                <rewrite>
                    <installer_db_mysql4>Bt_InstallBugfix_Model_Installer_Db_Mysql4</installer_db_mysql4>
                </rewrite>
            </install>
        </models>
    </global>
</config>
