<?xml version="1.0"?>
<config>
    <modules>
        <Bt_Mag>
            <version>0.1.0</version>
        </Bt_Mag>
    </modules>
    <global>
		<models>
			<bt_mag>
				<class>Bt_Mag_Model</class>
				<resourceModel>bt_mag_resource</resourceModel>
			</bt_mag>
			<bt_mag_resource>
				<class>Bt_Mag_Model_Resource</class>
				<entities>
					<article>
						<table>bt_mag_article</table>
					</article>
					<mag>
						<table>bt_mag_mag</table>
					</mag>
					<mag_article>
						<table>bt_mag_mag_article</table>
					</mag_article>
					<status>
						<table>bt_mag_status</table>
					</status>
				</entities>
			</bt_mag_resource>
		</models>
		<resources>
			<bt_mag_setup>
				<setup>
					<module>Bt_Mag</module>
					<class>Mage_Core_Model_Resource_Setup</class>
				</setup>
			</bt_mag_setup>
		</resources>
		<blocks>
			<bt_mag>
				<class>Bt_Mag_Block_Adminhtml</class>
			</bt_mag>
		</blocks>
		<helpers>
			<bt_mag>
				<class>Bt_Mag_Helper</class>
			</bt_mag>	
		</helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <bt_mag after="Mage_Adminhtml">Bt_Mag</bt_mag>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
